.Container{
  padding-left:10px;
}

.Time{
  padding-left:30px;
  padding-top:20px;
  font-size:40px;
}

.Button{
  padding-top:30px;
}

.ButtonItem{
  background-color:#c0c0c0;
  border:1px solid #333;
  border-radius:3px;
  color:#333;
  font-weight:bold;
  text-align:center;
  padding:15px 20px;
}

.ButtonItem:hover{
  cursor:pointer;
  background-color:#eee;
}

ButtonItem:disabled{
  cursor:default;
  background-color:#eee;
}

